#wrapper{
   padding: 5%; 
}
.activity{
    width: 60vw;
    margin: 0 auto;
    text-align: center;
    padding: 2%; 
}
form{
    width: 100%;
}
.w-100{
    text-align: center;
}
.fix{
    position: fixed;
    top: 10%;
    right: 0;
}